.fruits_banner_back{
    width: 100%; background-image: url(../images/fruit_bg.jpg);  background-size: cover; background-repeat: no-repeat;
    .row{
        height: 100%; height: 47.4rem;
    }
    .image{
        position: relative;
        img{
            position: absolute; top: -10.3rem; left: -9.5rem;
        }
    }
    .content_back{
        width: 100%;
        .stylish_heading{
            color: #46963d; font-size: 2.6rem; text-transform: capitalize; font-weight: 500; letter-spacing: .2rem; margin-bottom: 2.5rem;
        }
        h2{
            color: #232323; font-size: 4.6rem; text-transform: capitalize; font-weight: 600;
        }
        .custom_button{
            margin-top: 3rem;
        }
    }
}

@media only screen and (max-width:1365px){
    .fruits_banner_back{
        .image{
            img{
                height: 41.2rem; left: -2rem;
            }
        }
        .content_back{
            h2{
                font-size: 4rem;
            }
        }
    }
}

@media only screen and (max-width:1023px){
    .fruits_banner_back{
        padding: 9rem 0; text-align: center;
        .row{
            height: auto; 
        }
        .image{
            display: inline-block;
            img{
                position: relative; left: 0; top: 0;
            }
        }
    }
}

@media only screen and (max-width:500px){
    .fruits_banner_back{
        
        .image{
            img{
               width: 100%;
            }
        }
    }
}